$palette-original-teal: (
    50 : #e6f6f8,
    100 : #c0eaee,
    200 : #96dce3,
    300 : #6bcdd8,
    400 : #4cc3cf,
    500 : #2cb8c7,
    600 : #27b1c1,
    700 : #21a8ba,
    800 : #1ba0b3,
    900 : #1091a6,
    A100 : #d6f9ff,
    A200 : #a3f1ff,
    A400 : #70e9ff,
    A700 : #57e5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-original-orange: (
    50 : #fef5ee,
    100 : #fde6d4,
    200 : #fbd6b7,
    300 : #f9c59a,
    400 : #f8b885,
    500 : #f7ac6f,
    600 : #f6a567,
    700 : #f59b5c,
    800 : #f39252,
    900 : #f18240,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7da,
    A700 : #ffd7c1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-original-pink: (
    50 : #fdedf2,
    100 : #fad3de,
    200 : #f6b6c8,
    300 : #f299b2,
    400 : #f083a2,
    500 : #ed6d91,
    600 : #eb6589,
    700 : #e85a7e,
    800 : #e55074,
    900 : #e03e62,
    A100 : #ffffff,
    A200 : #fffcfc,
    A400 : #ffc9d4,
    A700 : #ffafc0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-modified-teal: (
    50 : #e6f6f8,
    100 : #c0eaee,
    200 : #96dce3,
    300 : #6bcdd8,
    400 : #4cc3cf,
    500 : #2cb8c7,
    600 : #27b1c1,
    700 : #21a8ba,
    800 : #1ba0b3,
    900 : #1091a6,
    A100 : #d6f9ff,
    A200 : #a3f1ff,
    A400 : #70e9ff,
    A700 : #57e5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-modified-orange: (
    50 : #fef5ee,
    100 : #fde6d4,
    200 : #fbd6b7,
    300 : #f9c59a,
    400 : #f8b885,
    500 : #f7ac6f,
    600 : #f6a567,
    700 : #f59b5c,
    800 : #f39252,
    900 : #f18240,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7da,
    A700 : #ffd7c1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-modified-pink: (
    50 : #fdedf2,
    100 : #fad3de,
    200 : #f6b6c8,
    300 : #f299b2,
    400 : #f083a2,
    500 : #ed6d91,
    600 : #eb6589,
    700 : #e85a7e,
    800 : #e55074,
    900 : #e03e62,
    A100 : #ffffff,
    A200 : #fffcfc,
    A400 : #ffc9d4,
    A700 : #ffafc0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);