@use './core';

@mixin _unelevated-button-variant($theme, $palette) {
    --mdc-filled-button-label-text-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-filled-button-state-layer-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-button-persistent-ripple-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-button-ripple-color: #{rgba(core.get-theme-color($theme, $palette, default-contrast), 0.1)};
}

@mixin _raised-button-variant($theme, $palette) {
    --mdc-protected-button-label-text-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-protected-button-state-layer-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-button-persistent-ripple-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-button-ripple-color: #{rgba(core.get-theme-color($theme, $palette, default-contrast), 0.1)};
}

@mixin _fab-color($theme, $palette) {
    --mdc-fab-icon-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-fab-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-button-persistent-ripple-color: #{core.get-theme-color($theme, $palette, default-contrast)};
    --mat-mdc-button-ripple-color: #{rgba(core.get-theme-color($theme, $palette, default-contrast), 0.1)};
}

@mixin _fab-colors($theme) {
    .mat-mdc-fab,
    .mat-mdc-mini-fab {
        &.mat-primary {
            @include _fab-color($theme, primary);
        }

        &.mat-accent {
            @include _fab-color($theme, accent);
        }

        &.mat-warn {
            @include _fab-color($theme, warn);
        }
    }
}

@mixin button-theme($theme) {
    .mat-mdc-unelevated-button {
        &.mat-primary {
            @include _unelevated-button-variant($theme, primary);
        }

        &.mat-accent {
            @include _unelevated-button-variant($theme, accent);
        }

        &.mat-warn {
            @include _unelevated-button-variant($theme, warn);
        }
    }

    .mat-mdc-raised-button {
        &.mat-primary {
            @include _raised-button-variant($theme, primary);
        }

        &.mat-accent {
            @include _raised-button-variant($theme, accent);
        }

        &.mat-warn {
            @include _raised-button-variant($theme, warn);
        }
    }

    @include _fab-colors($theme);
    // Unsure why but the material fab styles target html, if anyone knows, let me know!
    html {
        @include _fab-colors($theme);
    }
}