:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    max-width: 750px;
    column-gap: 10px;
    row-gap: 10px;
    > h2 {
        grid-column: 1 / span 3;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        > h2 {
            grid-column: 1;
        }
    }
}